<div>To log in, please choose one of the following providers</div>

<div>

  <%= link_to image_tag("auth/google_128.png"), "/auth/google" %>
  <%= link_to image_tag("auth/yahoo_128.png"), "/auth/yahoo" %>

</div>
