<% page title:'Pages' %>
<% subtitle link_to("Add Page", new_wiki_path) if can_edit? %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Tags</th>
    <th></th>
  </tr>
  <% @pages.each do |page| %>
    <tr>
      <td>
        <%= link_to page.name, wiki_path(page) %> 
      </td>
      <td>
        <% page.tags.each do |tag| %><%= link_to tag.name, tag, class:"label label-info" %> <% end %>
      </td>
      <td>
        <% if can_edit? %>
          <%= button_to("Edit", edit_wiki_path(page), icon:"pencil") %>
          <%= button_to("Delete", wiki_path(page), method:"delete", confirm:"Are you sure you want to delete this page?", icon:"remove") %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

