<% page title:@page.name, class:"wiki-page #{@page.page_class}" %>

<% subtitle raw [available_page_actions(@page), tags_for_page(@page)].compact.join(" &nbsp; ") %>

<%= image_tag @page.thumbnail.url(:medium), class:"page-thumbnail" if @page.thumbnail? %>

<div class="page-content">
<%= raw @html %>
</div>
