<%= form_for @tag do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-actions">
    <%= f.submit "Save", disable_with:"Saving...", class:"btn btn-primary" %>
  </div>
<% end %>

