<% page :title => "#{@page.name} Versions" %>

<ul>
  <% @versions.each do |version| %>
    <li><%= link_to "Version #{version.version} by #{version.author.name if version.author}", page_version_path(@page, version) %></li>
  <% end %>
</ul>