body {
  padding-top: 50px;
}

.navbar {
  .avatar {
    margin-top: -6px;
    margin-right: 3px;
    float: left;
  }
}

.header {
  h1 {
    display: inline;
  }
}

label {
  .hint {
    color: #999;
  } 
}

.page-thumbnail {
  float: right;
}
