<% page :title => "Create a User", :class => "form" %>

<h2>Enter User Information</h2>

<%= form_for [:admin, @user] do |f| %>
  <%= render_errors @user %>
  
  <%= render :partial => "fields", :locals => {:f => f, :user => @user} %>
  
  <p><%= submit_tag "Sign up" %></p>
<% end %>
